@font-face {
  font-family: "MyriadPro";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/MyriadPro/MyriadPro-Regular.eot");
  src: url("../fonts/MyriadPro/MyriadPro-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadPro/MyriadPro-Regular.woff") format("woff"), url("../fonts/MyriadPro/MyriadPro-Regular.ttf") format("truetype"); }

@font-face {
  font-family: "MyriadPro";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/MyriadPro/MyriadPro-Bold.eot");
  src: url("../fonts/MyriadPro/MyriadPro-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadPro/MyriadPro-Bold.woff") format("woff"), url("../fonts/MyriadPro/MyriadPro-Bold.ttf") format("truetype"); }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  *:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }

*::-webkit-input-placeholder {
  color: #666;
  opacity: 1; }

*:-moz-placeholder {
  color: #666;
  opacity: 1; }

*::-moz-placeholder {
  color: #666;
  opacity: 1; }

*:-ms-input-placeholder {
  color: #666;
  opacity: 1; }

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: #666; }

body input:required:valid,
body textarea:required:valid {
  color: #666; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: normal;
  font-family: "MyriadPro", sans-serif;
  background: #fff; }

html, body {
  overflow-x: hidden; }

img {
  display: block;
  max-width: 100%;
  height: auto; }

.text-center {
  text-align: center; }

a {
  display: block;
  text-decoration: none;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  outline: none; }
  a:hover {
    text-decoration: none; }

.container {
  position: relative;
  margin: 0 auto;
  width: 100%;
  max-width: 1170px;
  padding: 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start; }

.logo {
  width: 100%;
  max-width: 191px; }

.color-accent {
  color: #29c9d3; }

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  border-radius: 10px;
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  width: 100%;
  height: 67px; }
  .btn .icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 0 0 8px;
    -webkit-transition: .3s ease;
    transition: .3s ease; }

.btn-accent {
  background-image: -webkit-gradient(linear, left top, right top, from(#36d098), color-stop(#3aca96), to(#3ecd76)), -webkit-gradient(linear, left top, left bottom, from(#282828), to(#282828));
  background-image: linear-gradient(to right, #36d098, #3aca96, #3ecd76), linear-gradient(to bottom, #282828, #282828); }
  .btn-accent:hover {
    background-image: -webkit-gradient(linear, right top, left top, from(#36d098), color-stop(#3aca96), to(#3ecd76)), -webkit-gradient(linear, left top, left bottom, from(#282828), to(#282828));
    background-image: linear-gradient(to left, #36d098, #3aca96, #3ecd76), linear-gradient(to bottom, #282828, #282828); }

.btn-border {
  color: #29c9d3;
  font-size: 14px;
  font-weight: bold;
  border-radius: 10px;
  border: solid 1px #29c9d3;
  height: 37px; }
  .btn-border:hover {
    background: #29c9d3;
    color: #fff; }
    .btn-border:hover .icon {
      -webkit-filter: brightness(0) invert(1);
              filter: brightness(0) invert(1); }

h2 {
  text-align: center;
  width: 100%;
  font-size: 36px;
  font-weight: bold;
  color: #3c3c3c; }

footer {
  background: url("../img/bg-footer.png") no-repeat center;
    background-size: cover;
  color: #fff;
  padding: 96px 0 83px; }
  footer .container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  footer .logo {
    max-width: 345px; }

.description-company {
  font-weight: bold;
  font-size: 24px;
  max-width: 309px;
  width: 100%; }

.list-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 27px 0 0; }
  .list-social li {
    margin: 0 14px 0 0; }
    .list-social li:last-child {
      margin: 0; }

.phone {
  color: #fff;
  font-weight: bold;
  font-size: 24px; }

.footer-bottom {
  margin: 76px 0 0; }

.copyright {
  font-size: 24px; }

.address {
  font-size: 21px; }

header {
  padding: 57px 0 0;
  color: #fff;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 2; }
  header .container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  header .phone {
    font-size: 21px; }
  header .list-social {
    margin: 18px 0 0; }
  header .description-company {
    font-size: 21px;
    max-width: 270px; }

main {
  width: 100%;
  background: url("../img/bg-slider.png") no-repeat right center;
    background-size: cover;
  margin: 0 0 30px; }

.main-home__slider {
  overflow: hidden;
  color: #fff; }
  .main-home__slider .container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }

.main-home__img {
  width: 632px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  padding: 121px 0 68px; }
  .main-home__img img {
    position: relative;
    z-index: 1; }

.circle {
  width: 797px;
  height: 797px;
  opacity: .05;
  border: solid 1px #fff;
    border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 0;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0); }
  .circle:before {
    content: '';
    width: 555px;
    height: 555px;
    border: solid 1px #fff;
      border-radius: 50%;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    position: absolute; }
  .circle:after {
    content: '';
    width: 393px;
    height: 393px;
    border: solid 1px #fff;
      border-radius: 50%;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    position: absolute; }

.main-home__content {
  max-width: 434px; }
  .main-home__content .text {
    margin: 0 0 43px auto;
    max-width: 419px;
    font-size: 30px;
    font-weight: bold;
    text-align: right;
    line-height: 1; }

.slick-slide {
  outline: none; }

.advantages {
  padding: 15px 0 36px; }

.advantages-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 66px 0 0; }

.advantages-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  max-width: 222px;
  width: 100%;
  margin: 0 0 30px;
  font-size: 18px; }

strong {
  font-weight: bold; }

.advantages-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin: 0 auto 13px; }

.stages-work {
  padding: 156px 0;
  color: #fff;
  background: url("../img/bg3.png") no-repeat center;
    background-size: cover;
  position: relative; }
  .stages-work:before {
    content: '';
    position: absolute;
    left: 68px;
    top: -10px;
    background: url("../img/decor1.png") no-repeat center;
      background-size: contain;
    width: 1646px;
    height: 616px; }
  .stages-work h2 {
    color: #fff;
    position: relative;
    z-index: 1; }

.stages-work__wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 79px 0 0;
  position: relative;
  z-index: 1; }

.stages-work__box {
  margin: 0 0 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  text-shadow: 0.5px 0.9px 35px rgba(44, 81, 87, 0.42);
  font-size: 24px;
  font-weight: bold;
  max-width: 258px;
  width: 100%; }
  .stages-work__box:first-child img {
    margin: 0 40px 0 0; }
  .stages-work__box:nth-child(2) .stages-work__icon:before {
    background: url("../img/bg-stage2.png") no-repeat center;
      background-size: contain;
    height: 258px;
    width: 269px; }
  .stages-work__box:nth-child(3) .stages-work__icon:before {
    background: url("../img/bg-stage3.png") no-repeat center;
      background-size: contain;
    height: 217px;
    width: 305px; }
  .stages-work__box:nth-child(4) img {
    margin: 0 0 0 35px; }
  .stages-work__box:nth-child(4) .stages-work__icon:before {
    background: url("../img/bg-stage4.png") no-repeat center;
      background-size: contain;
    height: 265px;
    width: 211px; }

.stages-work__icon {
  margin: 0 0 34px;
  width: 100%;
  height: 215px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .stages-work__icon img {
    position: relative;
    z-index: 1; }
  .stages-work__icon:before {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    width: 100%;
    height: 100%;
    background: url("../img/bg-stage1.png") no-repeat center;
      background-size: contain; }

.does-work__wrapper {
  background: url("../img/bg2.png") no-repeat center;
    background-size: cover;
  color: #fff;
  position: relative;
  margin: 23px 0 0;
  padding: 200px 0; }
  .does-work__wrapper .container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }

.does-work__box {
  width: 50%;
  margin: 0 0 95px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 1;
  font-size: 18px; }
  .does-work__box h3 {
    font-size: 24px;
    font-weight: bold;
    margin: 0 0 27px; }
  .does-work__box p {
    max-width: 240px;
    width: 100%; }
  .does-work__box:nth-child(odd) {
    text-align: right;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end; }
    .does-work__box:nth-child(odd) .does-work__img {
      -webkit-box-ordinal-group: 2;
          -ms-flex-order: 1;
              order: 1;
      margin: 0 0 0 45px; }

.does-work__img {
  width: 137px;
  min-width: 137px;
  height: 107px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 16px 0 0; }

.does-work__content {
  text-shadow: 0.5px 0.9px 28.7px rgba(48, 89, 88, 0.98); }

.does-work-images {
  position: absolute;
  left: 45%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  top: -150px;
  width: 1539px; }
  .does-work-images:before {
    content: '';
    position: absolute;
    left: 54.5%;
    top: 45%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 659px;
    height: 458px;
    background: url("../img/line-circle.png") no-repeat center;
      background-size: contain; }
  .does-work-images img {
    position: relative;
    z-index: 1; }

.questionnaire {
  background: url("../img/bg5.png") no-repeat center;
    background-size: cover;
  padding: 228px 0 373px;
  color: #282828;
  margin: -110px 0 0; }
  .questionnaire .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .questionnaire .btn {
    max-width: 659px; }

.questionnaire-text {
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  max-width: 708px;
  width: 100%;
  margin: 0 auto 35px; }

.variable-products .btn {
  margin: 21px auto 0;
  max-width: 207px; }

.variable-products-wrapper {
  margin: 32px 0 0;
  background: url("../img/bg6.png") no-repeat center;
    background-size: cover; }

.variable-products__slider {
  width: 100%; }
  .variable-products__slider .slide {
    padding: 75px 20px 35px;
    opacity: .7;
    margin: 30px 0 0; }
  .variable-products__slider .slick-center {
    margin: 0 40px;
    opacity: 1; }
    .variable-products__slider .slick-center .variable-products__box {
      width: 359px;
      height: 503px; }
    .variable-products__slider .slick-center .variable-products__img {
      width: 294px;
      height: 292px; }
    .variable-products__slider .slick-center .variable-products__content {
      padding: 0 45px 35px;
      height: calc(100% - 260px); }

.variable-products__box {
  width: 290px;
  height: 440px;
  border-radius: 10px;
  -webkit-box-shadow: 3.5px 6.1px 22.1px 1.9px rgba(85, 85, 85, 0.17);
          box-shadow: 3.5px 6.1px 22.1px 1.9px rgba(85, 85, 85, 0.17);
  background-color: #ffffff;
  margin: 0 auto;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start; }

.variable-products__img {
  width: 200px;
  height: 220px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  left: 50%;
  top: -60px;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0); }

.variable-products__content {
  padding: 0 20px 25px;
  text-align: center;
  height: calc(100% - 180px);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: auto 0 0 0; }

.name-product {
  margin: 0 auto 23px;
  color: #202020;
  font-size: 30px;
  font-weight: bold; }

.set {
  text-align: center;
  color: #202020;
  font-size: 14px;
  font-weight: bold; }

.description-product {
  padding: 16px 0 0;
  margin: 30px auto 0;
  color: #6c6c6c;
  font-size: 14px;
  border-top: 1px solid #8bd1ad; }

.slick-dots {
  position: relative;
  bottom: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center; }
  .slick-dots .slick-active {
    background: #29c9d3; }
  .slick-dots li {
    outline: none;
    width: 12px;
    height: 12px;
    background-color: #d8d8d8;
    border-radius: 50%;
    margin: 0 12px 0 0; }
    .slick-dots li:last-child {
      margin: 0; }
    .slick-dots li button {
      display: none; }

.slick-dotted.slick-slider {
  margin-bottom: 0; }

.work-portfolio {
  padding: 144px 0 132px; }
  .work-portfolio .btn {
    max-width: 207px;
    margin: 0 auto; }

.portfolio-slider {
  width: 100%;
  margin: 70px 0 0; }
  .portfolio-slider .slick-dots {
    margin: 48px 0 26px; }

.portfolio__wrapper {
  width: 100%;
  margin: 0; }

.portfolio-box {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 0 90px;
  color: #222222;
  font-weight: bold; }
  .portfolio-box:last-child {
    margin: 0; }
  .portfolio-box h3 {
    color: #091113;
    font-size: 24px;
    font-weight: bold;
    width: 100%; }
  .portfolio-box:nth-child(even) .portfolio-content {
    text-align: right;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end; }

.portfolio-box__text {
  margin: 38px 0 0; }

.portfolio-img {
  width: 655px;
  height: 331px;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden; }

.portfolio-content {
  width: calc(100% - 655px);
  padding: 0 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start; }
  .portfolio-content .btn {
    margin: auto 0 0;
    max-width: 165px; }

.command-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 83px 0; }

.command-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 210px;
  font-size: 18px; }

.command-box1 {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
  margin: 40px 0 0;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end; }

.command-box2 {
  margin: 40px 0 0 0; }

.command-box3 {
  margin: -300px 74% 0 0;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end; }

.command-box4 {
  margin: -350px 0 0 75%; }

.experience {
  margin: 20px 0 0; }

.command-box__name {
  font-weight: bold; }

.command-image {
  max-width: 632px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.reviews-wrapper {
  background: url("../img/bg7.png") no-repeat center;
    background-size: cover;
  padding: 112px 0 70px;
  color: #fff; }

.reviews-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 232px;
  margin: 0 auto 25px; }

.reviews-box__ava {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 148px;
  height: 142px;
  border-radius: 50%;
  overflow: hidden; }

.reviews-box__name {
  margin: 25px auto 19px;
  text-align: center;
  font-weight: bold; }

.reviews-slider {
  width: 100%; }

.reviews-box__content {
  width: 100%;
  height: 261px;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 35px 0 rgba(0, 0, 0, 0.14);
          box-shadow: 0 0 35px 0 rgba(0, 0, 0, 0.14);
  background-color: #ffffff;
  overflow: hidden;
  padding: 10px;
  color: #222; }

.slick-arrow {
  width: 41px;
  height: 41px;
  z-index: 1;
  opacity: 1; }
  .slick-arrow:before {
    display: none; }

.slick-next {
  background: url("../img/arrow-next.png") no-repeat center;
    background-size: contain; }
  .slick-next:hover, .slick-next:focus {
    background: url("../img/arrow-next.png") no-repeat center;
      background-size: contain; }

.slick-prev {
  background: url("../img/arrow-prev.png") no-repeat center;
    background-size: contain; }
  .slick-prev:hover, .slick-prev:focus {
    background: url("../img/arrow-prev.png") no-repeat center;
      background-size: contain; }

.callback {
  padding: 38px 0 95px; }
  .callback h2 {
    max-width: 530px;
    margin: 0 auto 35px;
    font-size: 30px; }
  .callback .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }

input {
  outline: none;
  width: 100%;
  height: 56px;
  border-radius: 10px;
  -webkit-box-shadow: inset 1px 1.7px 16px 0 rgba(0, 0, 0, 0.08);
          box-shadow: inset 1px 1.7px 16px 0 rgba(0, 0, 0, 0.08);
  background-color: #ffffff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  padding: 0 28px;
  font-family: "MyriadPro", sans-serif;
  font-size: 24px;
  color: #b4b4b4; }
  input::-webkit-input-placeholder {
    color: #b4b4b4; }
  input::-moz-placeholder {
    color: #b4b4b4; }
  input::-ms-input-placeholder {
    color: #b4b4b4; }
  input::placeholder {
    color: #b4b4b4; }

label {
  display: block; }

.form {
  max-width: 310px;
  width: 100%;
  margin: 0 auto; }
  .form label {
    margin: 0 0 27px; }
  .form button {
    height: 56px; }

button {
  outline: none;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
  padding: 0;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  font-family: "MyriadPro", sans-serif; }

.checkbox {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  color: #b6b6b6;
  font-size: 12px; }
  .checkbox .checkbox-inp {
    display: none; }
  .checkbox .checkbox-custom {
    position: relative;
    min-width: 15px;
    width: 15px;
    height: 15px;
    display: inline-block;
    vertical-align: middle;
    border: solid 1px #b6b6b6;
      border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
    -webkit-transition: .3s ease;
    transition: .3s ease;
    margin: 0 9px 0 0; }
  .checkbox .label {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    max-width: 220px;
    width: 100%; }
  .checkbox .checkbox-inp:checked + .checkbox-custom::before {
    content: "";
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    background: #29c9d3; }

.modal__div {
  position: fixed;
  max-width: 400px;
  width: 97%;
  height: 100%;
  top: 45%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 101;
  overflow: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: none;
  opacity: 0; }
  .modal__div .form {
    max-width: none;
    margin: 35px auto 0; }

.modal__close {
  position: absolute;
  right: 16px;
  top: 16px;
  width: 16px;
  height: 16px;
  cursor: pointer;
  z-index: 1; }
  .modal__close:before, .modal__close:after {
    content: '';
    position: absolute;
    width: 2px;
    height: 100%;
    background: #878b8c; }
  .modal__close:before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg); }
  .modal__close:after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg); }

.modal__wrapper {
  background: #fff;
  width: 100%;
  height: auto;
  overflow: auto;
  margin: 50px auto;
  padding: 30px 40px 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  -webkit-box-shadow: 2px 3.5px 22.1px 1.9px rgba(85, 85, 85, 0.17);
          box-shadow: 2px 3.5px 22.1px 1.9px rgba(85, 85, 85, 0.17);
  border-radius: 10px; }

.modal-text {
  margin: 0 auto;
  text-align: center;
  color: #091113;
  font-size: 18px; }

.overlay {
  z-index: 100;
  position: fixed;
  background-color: #000;
  opacity: 0.5;
  -moz-opacity: 0.5;
  filter: alpha(opacity=50);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  cursor: pointer;
  display: none; }

#thanks__modal {
  max-width: 310px; }
  #thanks__modal .modal__wrapper {
    padding: 50px 55px 45px; }

/*==========  Desktop First  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  /**/ }

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  /**/ }

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  /**/ }

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  /**/ }

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  /**/ }

/*==========  Mobile First  ==========*/
/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  /**/ }

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  /**/ }

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  /**/ }

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  /**/ }

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  /**/ }
