@font-face {
  font-family: "MyriadPro";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/MyriadPro/MyriadPro-Regular.eot");
  src: url("../fonts/MyriadPro/MyriadPro-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadPro/MyriadPro-Regular.woff") format("woff"), url("../fonts/MyriadPro/MyriadPro-Regular.ttf") format("truetype"); }

@font-face {
  font-family: "MyriadPro";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/MyriadPro/MyriadPro-Bold.eot");
  src: url("../fonts/MyriadPro/MyriadPro-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadPro/MyriadPro-Bold.woff") format("woff"), url("../fonts/MyriadPro/MyriadPro-Bold.ttf") format("truetype"); }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  *:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }

*::-webkit-input-placeholder {
  color: #666;
  opacity: 1; }

*:-moz-placeholder {
  color: #666;
  opacity: 1; }

*::-moz-placeholder {
  color: #666;
  opacity: 1; }

*:-ms-input-placeholder {
  color: #666;
  opacity: 1; }

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: #666; }

body input:required:valid,
body textarea:required:valid {
  color: #666; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: normal;
  font-family: "MyriadPro", sans-serif;
  background: #fff; }

html, body {
  overflow-x: hidden;
  height: 100%; }

img {
  display: block;
  max-width: 100%;
  height: auto; }

.text-center {
  text-align: center; }

a {
  display: block;
  text-decoration: none;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  outline: none; }
  a:hover {
    text-decoration: none; }

.container {
  position: relative;
  margin: 0 auto;
  width: 100%;
  max-width: 1170px;
  padding: 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start; }

.logo {
  width: 100%;
  max-width: 191px; }

.color-accent {
  color: #29c9d3; }

.color-green {
  color: #3ecd76; }

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  border-radius: 10px;
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  width: 100%;
  height: 67px; }
  .btn .icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 0 0 8px;
    -webkit-transition: .3s ease;
    transition: .3s ease; }

.btn-accent {
  background-image: -webkit-gradient(linear, left top, right top, from(#36d098), color-stop(#3aca96), to(#3ecd76)), -webkit-gradient(linear, left top, left bottom, from(#282828), to(#282828));
  background-image: linear-gradient(to right, #36d098, #3aca96, #3ecd76), linear-gradient(to bottom, #282828, #282828); }
  .btn-accent:hover {
    background-image: -webkit-gradient(linear, right top, left top, from(#36d098), color-stop(#3aca96), to(#3ecd76)), -webkit-gradient(linear, left top, left bottom, from(#282828), to(#282828));
    background-image: linear-gradient(to left, #36d098, #3aca96, #3ecd76), linear-gradient(to bottom, #282828, #282828); }

.btn-border {
  color: #29c9d3;
  font-size: 14px;
  font-weight: bold;
  border-radius: 10px;
  border: solid 1px #29c9d3;
  height: 37px; }
  .btn-border:hover {
    background: #29c9d3;
    color: #fff; }
    .btn-border:hover .icon {
      -webkit-filter: brightness(0) invert(1);
              filter: brightness(0) invert(1); }

.btn-border-blue {
  border: solid 2px #45c8d9;
  color: #45c8d9;
  font-size: 18px;
  height: 44px; }

.btn-white {
  -webkit-box-shadow: 0 0 24px 0 rgba(42, 100, 100, 0.14);
          box-shadow: 0 0 24px 0 rgba(42, 100, 100, 0.14);
  background-color: #ffffff;
  height: 57px;
  font-size: 25px;
  font-weight: bold;
  color: #76cfd3; }
  .btn-white:hover {
    background: #29c9d3;
    color: #fff; }

h2 {
  text-align: center;
  width: 100%;
  font-size: 36px;
  font-weight: bold;
  color: #3c3c3c; }

footer {
  background: url("../img/bg-footer.png") no-repeat center;
    background-size: cover;
  color: #fff;
  padding: 96px 0 83px; }
  footer .container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  footer .logo {
    max-width: 345px; }

.description-company {
  font-weight: bold;
  font-size: 24px;
  max-width: 309px;
  width: 100%; }

.list-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 27px 0 0; }
  .list-social li {
    margin: 0 14px 0 0; }
    .list-social li:last-child {
      margin: 0; }

.phone {
  color: #fff;
  font-weight: bold;
  font-size: 24px; }

.footer-bottom {
  margin: 76px 0 0; }

.copyright {
  font-size: 24px; }

.address {
  font-size: 21px; }

header {
  padding: 57px 0 0;
  color: #fff;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 2; }
  header .container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  header .phone {
    font-size: 21px; }
  header .list-social {
    margin: 18px 0 0; }
  header .description-company {
    font-size: 21px;
    max-width: 270px; }

main {
  width: 100%;
  background: url("../img/bg-slider.png") no-repeat right center;
    background-size: cover;
  margin: 0 0 30px; }

.main-home__slider {
  overflow: hidden;
  color: #fff; }
  .main-home__slider .container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    min-height: 679px; }

.main-home__img {
  width: 632px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  padding: 121px 0 68px; }
  .main-home__img img {
    position: relative;
    z-index: 1; }

.circle {
  width: 797px;
  height: 797px;
  opacity: .05;
  border: solid 1px #fff;
    border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 0;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0); }
  .circle:before {
    content: '';
    width: 555px;
    height: 555px;
    border: solid 1px #fff;
      border-radius: 50%;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    position: absolute; }
  .circle:after {
    content: '';
    width: 393px;
    height: 393px;
    border: solid 1px #fff;
      border-radius: 50%;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    position: absolute; }

.main-home__content {
  max-width: 434px; }
  .main-home__content .text {
    margin: 0 0 43px auto;
    max-width: 419px;
    font-size: 30px;
    font-weight: bold;
    text-align: right;
    line-height: 1; }

.slick-slide {
  outline: none; }

.advantages {
  padding: 15px 0 36px; }

.advantages-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 66px 0 0; }

.advantages-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 25%;
  margin: 0 0 30px;
  font-size: 18px; }

strong {
  font-weight: bold; }

.advantages-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin: 0 auto 13px; }

.stages-work {
  padding: 156px 0;
  color: #fff;
  background: url("../img/bg3.png") no-repeat center;
    background-size: cover;
  position: relative; }
  .stages-work:before {
    content: '';
    position: absolute;
    left: 68px;
    top: -10px;
    background: url("../img/decor1.png") no-repeat center;
      background-size: contain;
    width: 1646px;
    height: 616px; }
  .stages-work h2 {
    color: #fff;
    position: relative;
    z-index: 1; }

.stages-work__wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 79px 0 0;
  position: relative;
  z-index: 1; }

.stages-work__box {
  margin: 0 0 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  text-shadow: 0.5px 0.9px 35px rgba(44, 81, 87, 0.42);
  font-size: 24px;
  font-weight: bold;
  max-width: 258px;
  width: 100%; }
  .stages-work__box:first-child img {
    margin: 0 40px 0 0; }
  .stages-work__box:nth-child(2) .stages-work__icon:before {
    background: url("../img/bg-stage2.png") no-repeat center;
      background-size: contain;
    height: 258px;
    width: 269px; }
  .stages-work__box:nth-child(3) .stages-work__icon:before {
    background: url("../img/bg-stage3.png") no-repeat center;
      background-size: contain;
    height: 217px;
    width: 305px; }
  .stages-work__box:nth-child(4) img {
    margin: 0 0 0 35px; }
  .stages-work__box:nth-child(4) .stages-work__icon:before {
    background: url("../img/bg-stage4.png") no-repeat center;
      background-size: contain;
    height: 265px;
    width: 211px; }

.stages-work__icon {
  margin: 0 0 34px;
  width: 100%;
  height: 215px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .stages-work__icon img {
    position: relative;
    z-index: 1; }
  .stages-work__icon:before {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    width: 100%;
    height: 100%;
    background: url("../img/bg-stage1.png") no-repeat center;
      background-size: contain; }

.does-work__wrapper {
  background: url("../img/bg2.png") no-repeat center;
    background-size: cover;
  color: #fff;
  position: relative;
  margin: 23px 0 0;
  padding: 200px 0; }
  .does-work__wrapper .container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }

.does-work__box {
  width: 50%;
  margin: 0 0 95px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 1;
  font-size: 18px; }
  .does-work__box h3 {
    font-size: 24px;
    font-weight: bold;
    margin: 0 0 27px; }
  .does-work__box p {
    max-width: 240px;
    width: 100%; }
  .does-work__box:nth-child(odd) {
    text-align: right;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end; }
    .does-work__box:nth-child(odd) .does-work__img {
      -webkit-box-ordinal-group: 2;
          -ms-flex-order: 1;
              order: 1;
      margin: 0 0 0 45px; }

.does-work__img {
  width: 137px;
  min-width: 137px;
  height: 107px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 16px 0 0; }

.does-work__content {
  text-shadow: 0.5px 0.9px 28.7px rgba(48, 89, 88, 0.98); }

.does-work-images {
  position: absolute;
  left: 45%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  top: -150px;
  width: 1539px; }
  .does-work-images:before {
    content: '';
    position: absolute;
    left: 54.5%;
    top: 45%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 659px;
    height: 458px;
    background: url("../img/line-circle.png") no-repeat center;
      background-size: contain; }
  .does-work-images img {
    position: relative;
    z-index: 1; }

.questionnaire {
  background: url("../img/bg5.png") no-repeat center;
    background-size: cover;
  padding: 228px 0 373px;
  color: #282828;
  margin: -110px 0 0; }
  .questionnaire .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .questionnaire .btn {
    max-width: 659px; }

.questionnaire-text {
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  max-width: 708px;
  width: 100%;
  margin: 0 auto 35px; }

.variable-products .btn {
  margin: 21px auto 0;
  max-width: 207px; }

.variable-products-wrapper {
  margin: 32px 0 0;
  background: url("../img/bg6.png") no-repeat center;
    background-size: cover; }

.variable-products__slider {
  width: 100%; }
  .variable-products__slider .slide {
    padding: 75px 20px 35px;
    opacity: .7;
    margin: 30px 0 0;
    height: 583px; }
  .variable-products__slider .slick-center {
    margin: 0 40px;
    opacity: 1; }
    .variable-products__slider .slick-center .variable-products__box {
      width: 359px;
      height: 503px; }
    .variable-products__slider .slick-center .variable-products__img {
      width: 294px;
      height: 292px; }
    .variable-products__slider .slick-center .variable-products__content {
      padding: 0 45px 35px;
      height: calc(100% - 260px); }

.variable-products__box {
  width: 290px;
  height: 440px;
  border-radius: 10px;
  -webkit-box-shadow: 3.5px 6.1px 22.1px 1.9px rgba(85, 85, 85, 0.17);
          box-shadow: 3.5px 6.1px 22.1px 1.9px rgba(85, 85, 85, 0.17);
  background-color: #ffffff;
  margin: 0 auto;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-transition: .3s ease;
  transition: .3s ease; }

.variable-products__img {
  width: 200px;
  height: 220px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  left: 50%;
  top: -60px;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0); }

.variable-products__content {
  padding: 0 20px 25px;
  text-align: center;
  height: calc(100% - 180px);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: auto 0 0 0; }

.name-product {
  margin: 0 auto 23px;
  color: #202020;
  font-size: 30px;
  font-weight: bold; }

.set {
  text-align: center;
  color: #202020;
  font-size: 14px;
  font-weight: bold; }

.description-product {
  padding: 16px 0 0;
  margin: 30px auto 0;
  color: #6c6c6c;
  font-size: 14px;
  border-top: 1px solid #8bd1ad; }

.slick-dots {
  position: relative;
  bottom: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  z-index: 1; }
  .slick-dots .slick-active {
    background: #29c9d3; }
  .slick-dots li {
    outline: none;
    width: 12px;
    height: 12px;
    background-color: #d8d8d8;
    border-radius: 50%;
    margin: 0 12px 0 0;
    display: block; }
    .slick-dots li:last-child {
      margin: 0; }
    .slick-dots li button {
      display: none; }

.slick-dotted.slick-slider {
  margin-bottom: 0; }

.work-portfolio {
  padding: 144px 0 132px; }
  .work-portfolio .btn {
    max-width: 207px;
    margin: 0 auto; }

.portfolio-slider {
  width: 100%;
  margin: 70px 0 0; }
  .portfolio-slider .slick-dots {
    margin: 48px 0 26px; }

.portfolio__wrapper {
  width: 100%;
  margin: 0; }

.portfolio-box {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 0 90px;
  color: #222222;
  font-weight: bold; }
  .portfolio-box:last-child {
    margin: 0; }
  .portfolio-box h3 {
    color: #091113;
    font-size: 24px;
    font-weight: bold;
    width: 100%; }
  .portfolio-box:nth-child(even) .portfolio-content {
    text-align: right;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end; }

.portfolio-box__text {
  margin: 38px 0 0; }

.portfolio-img {
  width: 655px;
  height: 331px;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden; }

.portfolio-content {
  width: calc(100% - 655px);
  padding: 0 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start; }
  .portfolio-content .btn {
    margin: auto 0 0;
    max-width: 165px; }

.command-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 83px 0; }

.command-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 210px;
  font-size: 18px; }

.command-box1 {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
  margin: 40px 0 0;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end; }

.command-box2 {
  margin: 40px 0 0 0; }

.command-box3 {
  margin: -300px 74% 0 0;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end; }

.command-box4 {
  margin: -350px 0 0 75%; }

.experience {
  margin: 20px 0 0; }

.command-box__name {
  font-weight: bold; }

.command-image {
  max-width: 632px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.reviews-wrapper {
  background: url("../img/bg7.png") no-repeat center;
    background-size: cover;
  padding: 112px 0 70px;
  color: #fff; }

.reviews-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 232px;
  margin: 0 auto 25px; }

.reviews-box__ava {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 148px;
  height: 142px;
  border-radius: 50%;
  overflow: hidden; }

.reviews-box__name {
  margin: 25px auto 19px;
  text-align: center;
  font-weight: bold; }

.reviews-slider {
  width: 100%; }

.reviews-box__content {
  width: 100%;
  height: 261px;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 35px 0 rgba(0, 0, 0, 0.14);
          box-shadow: 0 0 35px 0 rgba(0, 0, 0, 0.14);
  background-color: #ffffff;
  overflow: hidden;
  padding: 10px;
  color: #222; }

.slick-arrow {
  width: 41px;
  height: 41px;
  z-index: 1;
  opacity: 1; }
  .slick-arrow:before {
    display: none; }

.slick-next {
  right: 0;
  background: url("../img/arrow-next.png") no-repeat center;
    background-size: contain; }
  .slick-next:hover, .slick-next:focus {
    background: url("../img/arrow-next.png") no-repeat center;
      background-size: contain; }

.slick-prev {
  background: url("../img/arrow-prev.png") no-repeat center;
    background-size: contain;
  left: 0; }
  .slick-prev:hover, .slick-prev:focus {
    background: url("../img/arrow-prev.png") no-repeat center;
      background-size: contain; }

.callback {
  padding: 38px 0 95px; }
  .callback h2 {
    max-width: 530px;
    margin: 0 auto 35px;
    font-size: 30px; }
  .callback .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }

input {
  outline: none;
  width: 100%;
  height: 56px;
  border-radius: 10px;
  -webkit-box-shadow: inset 1px 1.7px 16px 0 rgba(0, 0, 0, 0.08);
          box-shadow: inset 1px 1.7px 16px 0 rgba(0, 0, 0, 0.08);
  background-color: #ffffff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  padding: 0 28px;
  font-family: "MyriadPro", sans-serif;
  font-size: 24px;
  color: #b4b4b4; }
  input::-webkit-input-placeholder {
    color: #b4b4b4; }
  input::-moz-placeholder {
    color: #b4b4b4; }
  input::-ms-input-placeholder {
    color: #b4b4b4; }
  input::placeholder {
    color: #b4b4b4; }

label {
  display: block; }

.form {
  max-width: 310px;
  width: 100%;
  margin: 0 auto; }
  .form label {
    margin: 0 0 27px; }
  .form button {
    height: 56px; }

button {
  outline: none;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
  padding: 0;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  font-family: "MyriadPro", sans-serif; }

.checkbox {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  color: #b6b6b6;
  font-size: 12px; }
  .checkbox .checkbox-inp {
    display: none; }
  .checkbox .checkbox-custom {
    position: relative;
    min-width: 15px;
    width: 15px;
    height: 15px;
    display: inline-block;
    vertical-align: middle;
    border: solid 1px #b6b6b6;
      border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
    -webkit-transition: .3s ease;
    transition: .3s ease;
    margin: 0 9px 0 0; }
  .checkbox .label {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    max-width: 220px;
    width: 100%; }
  .checkbox .checkbox-inp:checked + .checkbox-custom::before {
    content: "";
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    background: #29c9d3; }

.modal__div {
  position: fixed;
  max-width: 400px;
  width: 97%;
  height: 100%;
  top: 45%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 101;
  overflow: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: none;
  opacity: 0; }
  .modal__div .form {
    max-width: none;
    margin: 35px auto 0; }

.modal__close {
  position: absolute;
  right: 16px;
  top: 16px;
  width: 16px;
  height: 16px;
  cursor: pointer;
  z-index: 1; }
  .modal__close:before, .modal__close:after {
    content: '';
    position: absolute;
    width: 2px;
    height: 100%;
    background: #878b8c; }
  .modal__close:before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg); }
  .modal__close:after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg); }

.modal__wrapper {
  background: #fff;
  width: 100%;
  height: auto;
  overflow: auto;
  margin: 50px auto;
  padding: 30px 40px 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  -webkit-box-shadow: 2px 3.5px 22.1px 1.9px rgba(85, 85, 85, 0.17);
          box-shadow: 2px 3.5px 22.1px 1.9px rgba(85, 85, 85, 0.17);
  border-radius: 10px; }

.modal-text {
  margin: 0 auto;
  text-align: center;
  color: #091113;
  font-size: 18px; }

.overlay {
  z-index: 100;
  position: fixed;
  background-color: #000;
  opacity: 0.5;
  -moz-opacity: 0.5;
  filter: alpha(opacity=50);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  cursor: pointer;
  display: none; }

#thanks__modal {
  max-width: 310px; }
  #thanks__modal .modal__wrapper {
    padding: 50px 55px 45px; }

.main-home__business .main-home__content span {
  display: block; }

.does-work__business {
  background: url("../img/bg1.png") no-repeat center;
    background-size: cover;
  padding: 66px 0 70px; }
  .does-work__business h2 {
    color: #fff; }
  .does-work__business .does-work__wrapper {
    background: transparent;
    padding: 0;
    margin: 112px 0 0; }
  .does-work__business .does-work__box:nth-child(odd) p {
    margin: 0 0 0 auto; }
  .does-work__business .does-work__box:nth-child(odd) .does-work__img {
    margin: 0 0 0 26px; }
  .does-work__business .does-work-images {
    width: 1450px; }
    .does-work__business .does-work-images:before {
      background: url("../img/line-circke2.png") no-repeat center;
        background-size: contain;
      width: 620px;
      height: 462px;
      left: 56.5%;
      top: 43%; }
  .does-work__business .does-work__content {
    text-shadow: none;
    max-width: 360px; }
    .does-work__business .does-work__content p {
      font-weight: bold;
      max-width: none; }
    .does-work__business .does-work__content h3 {
      margin: 0; }
  .does-work__business .does-work__description {
    text-shadow: 0 0 62.7px rgba(42, 93, 81, 0.32);
    font-size: 14px;
    margin: 22px 0 0; }
  .does-work__business .does-work__img {
    width: 68px;
    height: 53px;
    min-width: 68px; }
  .does-work__business .does-work__box {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin: 0 0 65px; }

.does-work__box1 .does-work__description {
  max-width: 245px; }

.does-work__box2 .does-work__description {
  margin: 22px 0 0 auto;
  max-width: 220px; }

.does-work__box3 .does-work__description {
  max-width: 235px; }

.does-work__box4 .does-work__description {
  max-width: 250px;
  margin: 22px 0 0 auto; }

.about .btn {
  max-width: 335px;
  margin: 0 auto; }

.about-content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 54px 0; }

.about-img {
  width: 343px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.about-text {
  width: calc(100% - 343px);
  padding: 0 120px 0 0;
  font-size: 18px;
  color: #000; }
  .about-text p {
    margin: 0 0 20px; }
    .about-text p:last-child {
      margin: 0; }

.questionnaire-business {
  background-position: center top;
  padding: 262px 0 423px;
  margin: 0; }
  .questionnaire-business .questionnaire-text {
    max-width: 450px;
    margin: 0 auto 74px; }
  .questionnaire-business .btn {
    max-width: 253px; }

.work-portfolio__business {
  padding: 0 0 120px; }

.works {
  color: #fff;
  position: relative;
  background: url("../img/bg9.png") no-repeat center;
    background-size: cover;
  padding: 144px 0 94px; }
  .works:before {
    content: '';
    position: absolute;
    background: url("../img/decor2.png") no-repeat center;
      background-size: contain;
    width: 1553px;
    height: 493px;
    left: 60px;
    top: -20px; }
  .works h2 {
    color: #fff;
    text-shadow: 0 0 76.4px rgba(24, 70, 74, 0.38); }

.works-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  margin: 100px 0 0;
  padding: 90px 0 0; }

.works-img {
  width: 354px;
  height: 355px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }

.works-box {
  margin: 0 0 100px;
  font-size: 30px;
  text-shadow: 0 0 64.6px rgba(56, 103, 98, 0.38);
  width: 50%;
  position: relative;
  z-index: 1; }
  .works-box:nth-child(odd) {
    text-align: right; }

.features {
  padding: 36px 0 50px; }

.features-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 100px;
  margin: 69px 0 0; }

.features-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: justify;
  max-width: 250px;
  width: 100%;
  font-size: 14px;
  margin: 0 0 37px; }
  .features-box h3 {
    text-align: center;
    margin: 37px auto 19px;
    font-size: 24px;
    font-weight: bold;
    color: #3c3c3c; }
  .features-box p {
    max-width: 172px;
    width: 100%;
    margin: 0 auto; }

.stages-building {
  color: #fff;
  padding: 67px 0 172px;
  background: url("../img/bg10.png") no-repeat center;
    background-size: cover; }
  .stages-building h2 {
    text-shadow: 0 0 6px rgba(0, 112, 120, 0.38);
    color: #fff; }
  .stages-building .btn {
    max-width: 460px;
    margin: 0 auto; }

.stages-building__wrapper {
  margin: 100px 0 76px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.number-stage {
  font-size: 122.5px;
  font-weight: bold;
  position: relative; }
  .number-stage:before {
    content: '';
    position: absolute;
    width: 165px;
    height: 165px;
    background: url("../img/line1.png") no-repeat center;
      background-size: contain;
    top: 60px;
    right: -85px; }

.stages-building__box {
  font-size: 18px;
  max-width: 200px; }
  .stages-building__box p {
    text-shadow: 0 0 6px rgba(0, 112, 120, 0.38); }
  .stages-building__box h3 {
    text-shadow: 0 0 6px rgba(0, 112, 120, 0.38);
    font-size: 24px;
    font-weight: bold;
    margin: 45px 0 22px; }
  .stages-building__box:nth-child(even) h3 {
    margin: 0 0 28px; }
  .stages-building__box:nth-child(even) .number-stage {
    margin: 35px 0 0; }
  .stages-building__box:nth-child(2) .number-stage:before {
    width: 159px;
    height: 164px;
    background: url("../img/line2.png") no-repeat center;
      background-size: contain;
    top: auto;
    bottom: 110px;
    right: -95px; }
  .stages-building__box:nth-child(3) .number-stage:before {
    width: 166px;
    height: 162px;
    background: url("../img/line3.png") no-repeat center;
      background-size: contain;
    right: -105px; }
  .stages-building__box:last-child .number-stage {
    margin: 15px 0 0; }
    .stages-building__box:last-child .number-stage:before {
      display: none; }

#quiz__modal {
  max-width: 750px;
  padding: 27px 45px 22px; }

.form-quiz {
  width: 100%; }
  .form-quiz .form-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .form-quiz .form-group label {
      margin: 0 26px 0 0;
      max-width: 189px; }
    .form-quiz .form-group input {
      height: 42px;
      padding: 0 16px;
      font-size: 12px;
      color: #d2d2d2; }
      .form-quiz .form-group input::-webkit-input-placeholder {
        color: #d2d2d2; }
      .form-quiz .form-group input::-moz-placeholder {
        color: #d2d2d2; }
      .form-quiz .form-group input::-ms-input-placeholder {
        color: #d2d2d2; }
      .form-quiz .form-group input::placeholder {
        color: #d2d2d2; }
    .form-quiz .form-group .btn {
      max-width: 89px;
      height: 42px;
      font-size: 12px; }
    .form-quiz .form-group button.btn {
      max-width: 138px;
      margin: 20px auto 0; }
  .form-quiz .form-group-result label:nth-child(3) {
    margin-right: 0; }

.slider-quiz-nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .slider-quiz-nav .slick-arrow {
    position: relative;
    top: 0;
    -webkit-transform: none;
            transform: none;
    width: auto;
    color: #8de2de;
    font-size: 12px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: transparent; }
    .slider-quiz-nav .slick-arrow img {
      margin: 0 0 0 7px; }
  .slider-quiz-nav .slick-next img {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    margin: 0 7px 0 0;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg); }

.timeline-wrapper {
  width: 100%;
  margin: 0 0 39px; }

.timeline-title {
  width: 100%;
  margin: 0 0 6px;
  color: #999999;
  font-size: 12px;
  text-align: center; }

.timeline {
  width: 100%; }

.timeline-stages {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: #f5f5f5; }

.timeline-stages__result {
  width: 20px;
  height: 20px;
  background: transparent; }
  .timeline-stages__result svg {
    fill: #f5f5f5; }

.slider-quiz {
  width: 100%; }

.quiz-stages {
  width: 100%; }

.title-quiz {
  width: 100%;
  text-align: center;
  font-size: 18px;
  color: #141414;
  margin: 0 auto 27px; }

.list-radio {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.radio {
  position: relative;
  width: 177px;
  border-radius: 10px;
  -webkit-box-shadow: 0 4px 8px 1.9px rgba(85, 85, 85, 0.17);
          box-shadow: 0 4px 8px 1.9px rgba(85, 85, 85, 0.17);
  background-color: #ffffff;
  overflow: hidden;
  color: #303030;
  font-size: 12px;
  text-align: center;
  margin: 0 0 30px;
  cursor: pointer; }
  .radio .image {
    width: 100%;
    height: 119px;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .radio .image img {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
         object-fit: cover; }
  .radio .radio-inp {
    display: none; }
  .radio .label {
    width: 100%;
    height: 45px;
    padding: 10px 5px 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .radio .radio-custom {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: inline-block;
    border: 2px solid transparent;
      border-radius: 10px;
    -webkit-transition: .3s ease;
    transition: .3s ease; }
  .radio .radio-inp:checked + .radio-custom {
    border: 2px solid #29c9d3; }

.main {
  margin: 0;
  overflow: hidden;
  padding: 240px 0;
  position: relative;
  color: #fff;
  background: transparent;
  height: 100%; }
  .main:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url("../img/bg-video.jpg") no-repeat center;
      background-size: cover;
    opacity: .85;
    z-index: 1; }
  .main h1 {
    font-size: 48px;
    margin: 0 auto;
    font-weight: bold;
    text-align: center;
    max-width: 570px;
    width: 100%; }
  .main .container {
    z-index: 2; }

.main-links {
  font-size: 66px;
  font-weight: bold;
  color: #fff; }

.main-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 90px 0 0; }

.fullscreen-bg__video {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: auto;
  height: 100%; }

/*==========  Desktop First  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1130px) {
  .command-image {
    max-width: 540px; }
  .main-wrapper {
    margin: 50px 0 0; }
  .main {
    padding: 160px 0; }
    .main h1 {
      font-size: 34px; }
  .main-links {
    font-size: 45px; }
  .fullscreen-bg__video {
    width: 100%;
    height: auto; } }

@media only screen and (max-width: 1100px) {
  .main-home__img {
    width: 530px; }
  .does-work__business .does-work-images, .does-work-images {
    width: 1100px; }
  .does-work-images {
    top: -70px; }
  .does-work__business .does-work-images:before {
    width: 520px;
    height: 400px; }
  .does-work__box {
    font-size: 16px; }
    .does-work__box h3 {
      font-size: 18px;
      margin: 0 0 15px; }
  .does-work__business .does-work__content {
    max-width: 280px; }
  .does-work__business .does-work-images:before {
    left: 55.5%; }
  .does-work__business .does-work__wrapper {
    margin: 90px 0 0; }
  .does-work__business .does-work__box {
    margin: 0 0 53px; }
  .questionnaire-business {
    padding: 130px 0; }
  .portfolio-img {
    width: 455px;
    height: 231px; }
  .portfolio-content {
    width: calc(100% - 455px); }
  .portfolio-box__text {
    margin: 20px 0; }
  .portfolio-box {
    margin: 0 0 40px; }
  .works:before {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; }
  .number-stage:before {
    width: 145px;
    height: 145px;
    right: -65px;
    top: 70px; }
  .stages-building__box:nth-child(2) .number-stage:before {
    width: 119px;
    height: 144px;
    right: -55px;
    bottom: 115px; }
  .stages-building__box:nth-child(3) .number-stage:before {
    width: 135px;
    height: 135px;
    right: -70px; }
  .variable-products__slider .slick-center {
    margin: 0 20px; }
  .variable-products__slider .slick-center .variable-products__box {
    width: 320px;
    height: 480px; }
  .variable-products__slider .slick-center .variable-products__content {
    height: calc(100% - 200px);
    padding: 0 30px 30px; }
  .variable-products__slider .slick-center .variable-products__img {
    height: 240px;
    width: 250px; }
  .variable-products__box {
    width: 270px;
    height: 420px; }
  .variable-products__img {
    width: 170px;
    height: 200px; }
  .variable-products__content {
    height: calc(100% - 150px); }
  .name-product {
    margin: 0 auto 20px; }
  .stages-work__box {
    font-size: 18px;
    max-width: 195px; }
  .stages-work__icon {
    height: 170px; }
  .stages-work__box:nth-child(2) .stages-work__icon:before {
    width: 212px;
    height: 208px; }
  .stages-work__box:nth-child(3) .stages-work__icon:before {
    height: 172px;
    width: 250px; }
  .stages-work__box:nth-child(4) .stages-work__icon:before {
    height: 211px;
    width: 170px; } }

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  header {
    padding: 30px 0 0; }
  .main-home__content {
    max-width: 310px; }
    .main-home__content .text {
      font-size: 24px; }
  .btn {
    height: 50px;
    font-size: 16px; }
  .circle {
    width: 677px;
    height: 677px; }
    .circle:before {
      width: 455px;
      height: 455px; }
    .circle:after {
      width: 293px;
      height: 293px; }
  .main-home__img {
    padding: 70px 0 0; }
  .main-home__slider .container {
    min-height: 580px; }
  .description-company, header .description-company {
    font-size: 16px;
    max-width: 210px; }
  .logo {
    max-width: 140px; }
  .address {
    font-size: 16px; }
  .advantages-box {
    font-size: 16px; }
  h2 {
    font-size: 30px; }
  .about-text {
    padding: 0 30px 0 0; }
  .portfolio-content .btn {
    max-width: 180px; }
  .portfolio-box {
    font-weight: normal; }
  .reviews-slider {
    padding: 0 20px; }
  .command-image {
    max-width: 400px; }
  .command-box3 {
    margin: -200px 74% 0 0; }
  .command-box4 {
    margin: -250px 0 0 75%; }
  .works-wrapper {
    padding: 0; }
  .features-wrapper {
    padding: 0; }
  .stages-building {
    margin: 0 0 -50px; } }

/* Small Devices, Tablets */
@media only screen and (max-width: 940px) {
  .advantages-box {
    width: 33.3%; }
  .does-work__business .does-work-images, .does-work-images {
    width: 900px; }
  .does-work-images {
    top: -20px; }
  .does-work__business .does-work-images:before {
    left: 56.6%; } }

@media only screen and (max-width: 880px) {
  .main-home__img {
    width: 430px; }
  .main-home__content {
    max-width: 265px; }
    .main-home__content .text {
      font-size: 20px; }
  .circle {
    width: 577px;
    height: 577px; }
    .circle:before {
      width: 355px;
      height: 355px; }
    .circle:after {
      width: 193px;
      height: 193px; }
  .main-home__slider .container {
    min-height: 480px; }
  .portfolio-img {
    width: 320px;
    height: 200px; }
  .portfolio-content {
    width: calc(100% - 320px); }
  .command-image {
    max-width: 300px; }
  .command-box3 {
    margin: -150px 64% 0 0; }
  .command-box4 {
    margin: -150px 0 0 65%; }
  .works-box {
    margin: 0 0 30px;
    font-size: 22px; }
  .number-stage:before {
    display: none; }
  .stages-building__box {
    max-width: none;
    width: 45%;
    margin: 0 0 30px; }
  .stages-building__wrapper {
    margin: 50px 0; }
  .fullscreen-bg__video {
    height: 100%;
    width: auto; } }

@media only screen and (max-width: 800px) {
  .features-box {
    max-width: none;
    width: 48%; }
    .features-box h3 br {
      display: none; }
    .features-box p {
      max-width: none; }
  .features-icon {
    width: 100px;
    height: 100px; }
  .features-wrapper {
    margin: 40px 0 0; }
  footer .logo {
    max-width: 200px; }
  .copyright {
    font-size: 18px; }
  .footer-bottom {
    margin: 30px 0 0; } }

@media only screen and (max-width: 768px) {
  .description-company, header .description-company {
    font-size: 12px;
    max-width: 158px; }
  .address {
    font-size: 14px; }
  header .phone {
    font-size: 16px; }
  header .list-social {
    margin: 10px 0 0; }
  .list-social {
    margin: 10px 0 0; }
    .list-social li {
      margin: 0 10px 0 0; }
      .list-social li:last-child {
        margin: 0; }
      .list-social li a {
        width: 20px;
        height: 20px; }
  .does-work-images:before {
    display: none; }
  .command-image {
    max-width: none;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1; }
  .command-box3, .command-box4 {
    margin: 0; }
  .command-box1, .command-box2 {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    margin: 0; }
  .command-box1, .command-box3 {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    text-align: left; }
  .command-box2, .command-box4 {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    text-align: right; }
  .command-box {
    width: 50%;
    max-width: none;
    margin: 0 0 30px; }
  .command-wrapper {
    margin: 40px 0 0; }
  .radio {
    width: 150px;
    margin: 0 0 20px; }
  .timeline-wrapper {
    margin: 0 0 25px; } }

/* Extra Small Devices, Phones */
@media only screen and (max-width: 730px) {
  .main-home__img {
    width: 330px; }
  .circle {
    width: 477px;
    height: 477px; }
  .advantages-box {
    width: 50%;
    font-size: 14px; }
  .advantages-wrapper {
    margin: 40px 0 0; }
  h2 {
    font-size: 28px; }
  .does-work__box {
    width: 100%;
    margin: 0 0 30px; }
    .does-work__box:nth-child(odd) {
      text-align: left;
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: flex-start;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start; }
      .does-work__box:nth-child(odd) .does-work__img {
        -webkit-box-ordinal-group: 0;
            -ms-flex-order: -1;
                order: -1;
        margin: 0 20px 0 0; }
    .does-work__box p br {
      display: none; }
  .does-work__img {
    margin: 0 20px 0 0; }
  .does-work__business .does-work__box:nth-child(odd) .does-work__img {
    margin: 0 20px 0 0; }
  .does-work__box2 .does-work__description, .does-work__box4 .does-work__description, .does-work__box1 .does-work__description {
    margin: 20px 0 0 0;
    max-width: none; }
  .does-work__content, .does-work__business .does-work__content {
    max-width: none;
    width: calc(100% - 70px); }
  .does-work-images {
    position: relative;
    z-index: 2;
    width: 100%;
    left: 0;
    top: 0;
    -webkit-transform: none;
            transform: none; }
  .does-work__wrapper {
    padding: 60px 0 130px; }
  .does-work__img {
    width: 70px;
    height: 70px;
    min-width: 70px; }
  .does-work__business {
    padding: 100px 0 190px; }
  .does-work__business .does-work__box {
    margin: 0 0 30px; }
  .does-work__business .does-work__wrapper {
    margin: 20px 0 0; }
  .about-text {
    width: 100%;
    padding: 0;
    font-size: 16px; }
  .about-img {
    margin: 30px auto 0; }
  .about {
    margin: -100px 0 0; }
  .portfolio-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .portfolio-box:nth-child(even) .portfolio-content {
      text-align: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }
  .portfolio-content {
    width: 100%;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0;
    margin: 20px auto 0;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1; }
  .portfolio-content .btn {
    margin: 0 auto; }
  .works-img {
    position: relative;
    -webkit-transform: none;
            transform: none;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .does-work {
    margin: 0 0 -70px; }
  .form-quiz .form-group label {
    margin: 0 10px 0 0; }
  .title-quiz {
    font-size: 15px; } }

@media only screen and (max-width: 680px) {
  .form-quiz .form-group {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .form-quiz .form-group label {
      margin: 0 0 10px;
      max-width: none;
      width: 100%; } }

@media only screen and (max-width: 655px) {
  header {
    padding: 20px 0 0; }
  .description-company {
    display: none; }
  .btn {
    height: 40px;
    font-size: 14px;
    border-radius: 7px; }
  .main-home__img {
    width: 280px; }
  .main-home__slider .container {
    min-height: 380px; }
  .reviews-slider {
    padding: 0; }
  .slick-arrow {
    top: 30%; }
  .stages-building__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    font-size: 16px;
    margin: 0 0 30px; }
    .stages-building__box h3 {
      font-size: 22px;
      margin: 0 0 10px; }
    .stages-building__box:nth-child(even) .number-stage {
      -webkit-box-ordinal-group: 0;
          -ms-flex-order: -1;
              order: -1;
      margin: 0 20px 0 0; }
    .stages-building__box:nth-child(even) h3 {
      margin: 0 0 10px; }
  .number-stage {
    font-size: 50px;
    margin: 0 20px 0 0; }
  .stages-building__wrapper {
    margin: 40px 0 0; }
  .callback h2 {
    font-size: 26px; }
  input {
    font-size: 16px;
    padding: 0 20px; }
  .form button {
    height: 50px; }
  .stages-work__box {
    max-width: none;
    width: 50%;
    margin: 0 0 40px; }
  .stages-work {
    margin: -70px 0 0; }
  .main-links {
    font-size: 30px; }
  .main h1 {
    font-size: 26px; }
  .main {
    padding: 140px 0; }
  .main-links {
    font-size: 26px; } }

@media only screen and (max-width: 580px) {
  .main-home__slider {
    padding: 100px 0 0; }
    .main-home__slider .btn {
      max-width: 280px;
      margin: 0 auto; }
    .main-home__slider .container {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      min-height: auto; }
  .main-home__img {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    padding: 0;
    margin: 30px auto 0; }
  .circle {
    width: 280px;
    height: 280px; }
  .main-home__content {
    max-width: none; }
    .main-home__content .text {
      text-align: center;
      margin: 0 auto 30px; }
  .address {
    font-size: 12px; }
  .logo {
    max-width: 100px; }
  .advantages-icon {
    width: 150px; }
  .about-content {
    margin: 40px 0; }
  .about-img {
    width: 280px; }
  .questionnaire-text {
    font-size: 30px;
    margin: 0 auto 30px; }
  .questionnaire-business .questionnaire-text {
    margin: 0 auto 30px; }
  .work-portfolio__business {
    padding: 0 0 100px; }
  .command-box {
    width: 100%; }
  .command-box2, .command-box4 {
    text-align: left;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }
  .works-box {
    width: 100%; }
    .works-box br {
      display: none; }
    .works-box:nth-child(odd) {
      text-align: left; }
  .works-wrapper {
    margin: 30px 0 0; }
  .features-box {
    width: 100%;
    text-align: center; }
  .variable-products__slider .slick-center .variable-products__box {
    width: 270px;
    height: 400px; }
  .variable-products__slider .slick-center .variable-products__img {
    width: 200px;
    height: 210px; }
  .variable-products__slider .slick-center .variable-products__content {
    height: calc(100% - 170px); }
  .variable-products__slider .slide {
    height: auto; }
  .name-product {
    font-size: 24px;
    margin: 0 auto 10px; }
  .set {
    font-size: 12px; }
  .questionnaire {
    padding: 120px 0; } }

@media only screen and (max-width: 440px) {
  header .phone, .phone {
    font-size: 12px; }
  .list-social li {
    margin: 0 5px 0 0; }
    .list-social li:last-child {
      margin: 0; }
    .list-social li a {
      width: 15px;
      height: 15px; }
  h2, .questionnaire-text {
    font-size: 26px; }
  .callback h2 {
    font-size: 22px; }
  .about {
    margin: -140px 0 0; }
  .stages-work__box {
    width: 100%; }
  .stages-work__wrapper {
    margin: 30px 0 0; } }

@media only screen and (max-width: 400px) {
  .address {
    width: 100%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin: 10px auto 0;
    text-align: center; }
  .main-home__slider {
    padding: 120px 0 0; }
  .advantages-box {
    width: 100%; }
  .questionnaire-business {
    padding: 70px 0; }
  .portfolio-img {
    width: 280px;
    height: 180px; }
  .portfolio-box h3, .features-box h3 {
    font-size: 22px; }
  .stages-building {
    margin: 0 0 -70px; }
  footer .logo {
    max-width: 180px; }
  footer {
    padding: 60px 0; }
  .footer-bottom {
    font-size: 14px; }
  .modal__wrapper {
    padding: 30px 20px; } }

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  /**/ }
