@import "vars"

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1130px)
  .command-image
    max-width: 540px

@media only screen and (max-width: 1100px)
  .main-home__img
    width: 530px

  .does-work__business .does-work-images, .does-work-images
    width: 1100px

  .does-work-images
    top: -70px

  .does-work__business .does-work-images:before
    width: 520px
    height: 400px

  .does-work__box
    font-size: 16px
    h3
      font-size: 18px
      margin: 0 0 15px

  .does-work__business .does-work__content
    max-width: 280px

  .does-work__business .does-work-images:before
    left: 55.5%

  .does-work__business .does-work__wrapper
    margin: 90px 0 0

  .does-work__business .does-work__box
    margin: 0 0 53px

  .questionnaire-business
    padding: 130px 0

  .portfolio-img
    width: 455px
    height: 231px

  .portfolio-content
    width: calc(100% - 455px)

  .portfolio-box__text
    margin: 20px 0

  .portfolio-box
    margin: 0 0 40px

  .works:before
    left: 0
    top: 0
    width: 100%
    height: 100%

  .number-stage:before
    width: 145px
    height: 145px
    right: -65px
    top: 70px

  .stages-building__box:nth-child(2) .number-stage:before
    width: 119px
    height: 144px
    right: -55px
    bottom: 115px

  .stages-building__box:nth-child(3) .number-stage:before
    width: 135px
    height: 135px
    right: -70px

  .variable-products__slider .slick-center
    margin: 0 20px

  .variable-products__slider .slick-center .variable-products__box
    width: 320px
    height: 480px

  .variable-products__slider .slick-center .variable-products__content
    height: calc(100% - 200px)
    padding: 0 30px 30px

  .variable-products__slider .slick-center .variable-products__img
    height: 240px
    width: 250px

  .variable-products__box
    width: 270px
    height: 420px

  .variable-products__img
    width: 170px
    height: 200px

  .variable-products__content
    height: calc(100% - 150px)

  .name-product
    margin: 0 auto 20px

  .stages-work__box
    font-size: 18px
    max-width: 195px

  .stages-work__icon
    height: 170px

  .stages-work__box:nth-child(2) .stages-work__icon:before
    width: 212px
    height: 208px

  .stages-work__box:nth-child(3) .stages-work__icon:before
    height: 172px
    width: 250px

  .stages-work__box:nth-child(4) .stages-work__icon:before
    height: 211px
    width: 170px


/* Medium Devices, Desktops */
@media only screen and (max-width: 992px)
  header
    padding: 30px 0 0

  .main-home__content
    max-width: 310px
    .text
      font-size: 24px

  .btn
    height: 50px
    font-size: 16px

  .circle
    width: 677px
    height: 677px
    &:before
      width: 455px
      height: 455px
    &:after
      width: 293px
      height: 293px

  .main-home__img
    padding: 70px 0 0

  .main-home__slider .container
    min-height: 580px

  .description-company, header .description-company
    font-size: 16px
    max-width: 210px

  .logo
    max-width: 140px

  .address
    font-size: 16px

  .advantages-box
    font-size: 16px

  h2
    font-size: 30px

  .about-text
    padding: 0 30px 0 0

  .portfolio-content .btn
    max-width: 180px

  .portfolio-box
    font-weight: normal

  .reviews-slider
    padding: 0 20px

  .command-image
    max-width: 400px

  .command-box3
    margin: -200px 74% 0 0

  .command-box4
    margin: -250px 0 0 75%

  .works-wrapper
    padding: 0

  .features-wrapper
    padding: 0

  .stages-building
    margin: 0 0 -50px



/* Small Devices, Tablets */
@media only screen and (max-width: 940px)
  .advantages-box
    width: 33.3%

  .does-work__business .does-work-images, .does-work-images
    width: 900px

  .does-work-images
    top: -20px

  .does-work__business .does-work-images:before
    left: 56.6%

@media only screen and (max-width: 880px)
  .main-home__img
    width: 430px

  .main-home__content
    max-width: 265px
    .text
      font-size: 20px

  .circle
    width: 577px
    height: 577px
    &:before
      width: 355px
      height: 355px
    &:after
      width: 193px
      height: 193px

  .main-home__slider .container
    min-height: 480px

  .portfolio-img
    width: 320px
    height: 200px

  .portfolio-content
    width: calc(100% - 320px)

  .command-image
    max-width: 300px

  .command-box3
    margin: -150px 64% 0 0

  .command-box4
    margin: -150px 0 0 65%

  .works-box
    margin: 0 0 30px
    font-size: 22px

  .number-stage:before
    display: none

  .stages-building__box
    max-width: none
    width: 45%
    margin: 0 0 30px

  .stages-building__wrapper
    margin: 50px 0



@media only screen and (max-width: 800px)
  .features-box
    max-width: none
    width: 48%
    h3
      br
        display: none
    p
      max-width: none

  .features-icon
    width: 100px
    height: 100px

  .features-wrapper
    margin: 40px 0 0

  footer .logo
    max-width: 200px

  .copyright
    font-size: 18px

  .footer-bottom
    margin: 30px 0 0

@media only screen and (max-width: 768px)
  .description-company, header .description-company
    font-size: 12px
    max-width: 158px

  .address
    font-size: 14px

  header .phone
    font-size: 16px

  header .list-social
    margin: 10px 0 0

  .list-social
    margin: 10px 0 0
    li
      margin: 0 10px 0 0
      &:last-child
        margin: 0
      a
        width: 20px
        height: 20px

  .does-work-images:before
    display: none

  .command-image
    max-width: none
    order: 1

  .command-box3, .command-box4
    margin: 0

  .command-box1, .command-box2
    order: 0
    margin: 0

  .command-box1, .command-box3
    align-items: flex-start
    text-align: left

  .command-box2, .command-box4
    align-items: flex-end
    text-align: right

  .command-box
    width: 50%
    max-width: none
    margin: 0 0 30px

  .command-wrapper
    margin: 40px 0 0


  .radio
    width: 150px
    margin: 0 0 20px

  .timeline-wrapper
    margin: 0 0 25px


/* Extra Small Devices, Phones */
@media only screen and (max-width: 730px)
  .main-home__img
    width: 330px

  .circle
    width: 477px
    height: 477px

  .advantages-box
    width: 50%
    font-size: 14px

  .advantages-wrapper
    margin: 40px 0 0

  h2
    font-size: 28px

  .does-work__box
    width: 100%
    margin: 0 0 30px
    &:nth-child(odd)
      text-align: left
      justify-content: flex-start
      align-items: flex-start
      .does-work__img
        order: -1
        margin: 0 20px 0 0
    p
      br
        display: none

  .does-work__img
    margin: 0 20px 0 0

  .does-work__business .does-work__box:nth-child(odd) .does-work__img
    margin: 0 20px 0 0

  .does-work__box2 .does-work__description, .does-work__box4 .does-work__description, .does-work__box1 .does-work__description
    margin: 20px 0 0 0
    max-width: none

  .does-work__content, .does-work__business .does-work__content
    max-width: none
    width: calc(100% - 70px)


  .does-work-images
    position: relative
    z-index: 2
    width: 100%
    left: 0
    top: 0
    transform: none

  .does-work__wrapper
    padding: 60px 0 130px

  .does-work__img
    width: 70px
    height: 70px
    min-width: 70px

  .does-work__business
    padding: 100px 0 190px

  .does-work__business .does-work__box
    margin: 0 0 30px

  .does-work__business .does-work__wrapper
    margin: 20px 0 0

  .about-text
    width: 100%
    padding: 0
    font-size: 16px

  .about-img
    margin: 30px auto 0

  .about
    margin: -100px 0 0

  .portfolio-box
    flex-direction: column
    align-items: center
    &:nth-child(even)
      .portfolio-content
        text-align: center
        justify-content: center


  .portfolio-content
    width: 100%
    text-align: center
    justify-content: center
    padding: 0
    margin: 20px auto 0
    order: 1

  .portfolio-content .btn
    margin: 0 auto


  .works-img
    position: relative
    transform: none
    left: 0
    top: 0
    width: 100%
    height: auto
    order: 1
    margin: 0 auto
    display: flex
    align-items: center
    justify-content: center

  .does-work
    margin: 0 0 -70px

  .form-quiz .form-group label
    margin: 0 10px 0 0

  .title-quiz
    font-size: 15px

@media only screen and (max-width: 680px)
  .form-quiz .form-group
    flex-wrap: wrap
    label
      margin: 0 0 10px
      max-width: none
      width: 100%

@media only screen and (max-width: 655px)
  header
    padding: 20px 0 0

  .description-company
    display: none

  .btn
    height: 40px
    font-size: 14px
    border-radius: 7px

  .main-home__img
    width: 280px

  .main-home__slider .container
    min-height: 380px

  .reviews-slider
    padding: 0

  .slick-arrow
    top: 30%

  .stages-building__box
    display: flex
    align-items: center
    width: 100%
    font-size: 16px
    margin: 0 0 30px
    h3
      font-size: 22px
      margin: 0 0 10px
    &:nth-child(even)
      .number-stage
        order: -1
        margin: 0 20px 0 0
      h3
        margin: 0 0 10px

  .number-stage
    font-size: 50px
    margin: 0 20px 0 0

  .stages-building__wrapper
    margin: 40px 0 0

  .callback h2
    font-size: 26px

  input
    font-size: 16px
    padding: 0 20px

  .form button
    height: 50px

  .stages-work__box
    max-width: none
    width: 50%
    margin: 0 0 40px

  .stages-work
    margin: -70px 0 0

@media only screen and (max-width: 580px)
  .main-home__slider
    padding: 100px 0 0
    .btn
      max-width: 280px
      margin: 0 auto
    .container
      flex-direction: column
      align-items: center
      min-height: auto

  .main-home__img
    order: 1
    padding: 0
    margin: 30px auto 0

  .circle
    width: 280px
    height: 280px

  .main-home__content
    max-width: none
    .text
      text-align: center
      margin: 0 auto 30px

  .address
    font-size: 12px

  .logo
    max-width: 100px

  .advantages-icon
    width: 150px

  .about-content
    margin: 40px 0

  .about-img
    width: 280px

  .questionnaire-text
    font-size: 30px
    margin: 0 auto 30px

  .questionnaire-business .questionnaire-text
    margin: 0 auto 30px

  .work-portfolio__business
    padding: 0 0 100px

  .command-box
    width: 100%

  .command-box2, .command-box4
    text-align: left
    align-items: flex-start

  .works-box
    width: 100%
    br
      display: none
    &:nth-child(odd)
      text-align: left

  .works-wrapper
    margin: 30px 0 0

  .features-box
    width: 100%
    text-align: center

  .variable-products__slider .slick-center .variable-products__box
    width: 270px
    height: 400px

  .variable-products__slider .slick-center .variable-products__img
    width: 200px
    height: 210px

  .variable-products__slider .slick-center .variable-products__content
    height: calc(100% - 170px)

  .name-product
    font-size: 24px
    margin: 0 auto 10px

  .set
    font-size: 12px

  .questionnaire
    padding: 120px 0


@media only screen and (max-width: 440px)
  header .phone, .phone
    font-size: 12px

  .list-social li
    margin: 0 5px 0 0
    &:last-child
      margin: 0
    a
      width: 15px
      height: 15px

  h2, .questionnaire-text
    font-size: 26px

  .callback h2
    font-size: 22px

  .about
    margin: -140px 0 0

  .stages-work__box
    width: 100%

  .stages-work__wrapper
    margin: 30px 0 0



@media only screen and (max-width: 400px)
  .address
    width: 100%
    order: 1
    margin: 10px auto 0
    text-align: center

  .main-home__slider
    padding: 120px 0 0

  .advantages-box
    width: 100%

  .questionnaire-business
    padding: 70px 0

  .portfolio-img
    width: 280px
    height: 180px

  .portfolio-box h3, .features-box h3
    font-size: 22px

  .stages-building
    margin: 0 0 -70px

  footer .logo
    max-width: 180px

  footer
    padding: 60px 0

  .footer-bottom
    font-size: 14px

  .modal__wrapper
    padding: 30px 20px

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px)
  /**/
